<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title + " | " if title }}Laurenz's Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ description if description else "Blog about my coding projects." }}" />
    <meta property="og:type" content="{{ type }}" />
    <meta property="og:title" content="{{ title if title else "Laurenz's Blog" }}" />
    <meta property="og:url" content="https://laurmaedje.github.io{{ page.url }}" />
    <meta property="og:site_name" content="Laurenz's Blog" />
    <meta property="og:description" content="{{ description if description else "Blog about my coding projects." }}" />
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <a href="/" class="home">Laurenz's Blog</a>
      <a href="https://github.com/laurmaedje" class="social">
        <img
          src="/assets/github.png"
          alt="GitHub"
          width="32"
          height="32"
        />
      </a>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
